.buildControl {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
}

.buildControl button {
	display: block;
	font: inherit;
	padding: 5px;
	margin: 0 5px;
	width: 40px;
	border: 1px solid black;
	cursor: pointer;
	outline: none;
}

.buildControl button:disabled {
	background-color: darkgrey;
	border: 1px solid black;
	color: white;
	cursor: default;
}

.buildControl button:hover:disabled {
	background-color: darkgrey;
	color: white;
	cursor: not-allowed;
}

.label {
	padding: 10px;
	font-weight: bold;
	width: 80px;
}

.add {
	background-color: #ff1493;
	color: white;
}
.remove {
	background-color: #b31077;
	color: white;
}
